/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5 !important;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  width: 50px;
  position: fixed;
  left: 0.5em;
}
.logologin {
  width: 250px;
}
@media screen and (max-width: 599px) {
  .logologin {
    width: 200px;
  }
}

.mainContent {
  margin-top: 1rem;
  margin-left: 1rem;
}

.active {
  background-color: #2599ca;
}

.tableHead {
  text-align: center !important;
}
